@media (max-width: 767px) {

    .container-global {
        margin: 2rem 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        flex: 1;
        width: 100%;
        height: 100%;
    }

    .img-cont {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-product {
        width: 70%;
        height: 70%;
        object-fit: cover;
    }

    .container-seccion2 {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
        height: 100%;
    }

    .letters-cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .7rem;
    }

    .letters-cont span {
        font-weight: bolder;
        font-size: 1.3rem;
        text-align: center;
    }

    .letters-cont p {
        font-size: 1rem;
        text-align: center;
    }

    .container-btn {
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 100%;
    }

    .cantidad {
        width: 40%;
        display: flex;
        align-content: center;
        justify-content: center;
    }

    .btnMinus {
        border: 1px solid #242424;
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btnMinus:disabled {
        background-color: #c5c5c5;
    }

    .span-cantidad {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #212121;
    }

    .btnPlus {
        border: 1px solid #242424;
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn-comprar {
        border: 2px solid #242424;
        border-radius: 20px;
        width: 40%;
        text-align: center;
        padding: 10px 6px;
        font-size: 1.2rem;
    }
}

@media (min-width: 768px) and (max-width:1023px) {
    .container-global {
        margin: 2rem 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        flex: 1;
        width: 100%;
        height: 100%;
    }

    .img-cont {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-product {
        width: 60%;
        height: 60%;
        object-fit: cover;
        border-radius: 30px;
        border: 20px inset #ddd;
    }

    .container-seccion2 {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
        height: 100%;
    }

    .letters-cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .7rem;
    }

    .letters-cont span {
        font-weight: bolder;
        font-size: 1.3rem;
        text-align: center;
    }

    .letters-cont p {
        font-size: 1rem;
        text-align: center;
    }

    .container-btn {
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 100%;
    }

    .cantidad {
        width: 40%;
        display: flex;
        align-content: center;
        justify-content: center;
    }

    .btnMinus {
        border: 1px solid #242424;
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btnMinus:disabled {
        background-color: #c5c5c5;
    }

    .span-cantidad {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #212121;
    }

    .btnPlus {
        border: 1px solid #242424;
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn-comprar {
        border: 2px solid #242424;
        border-radius: 20px;
        width: 40%;
        text-align: center;
        padding: 10px 6px;
        font-size: 1.2rem;
    }
}

@media (min-width:1024px) {
    .container-global {
        align-content: center;
        justify-content: center;
        margin: 2rem 0;
        display: flex;
        align-items: center;
        gap: 2rem;
        flex: 1;
        width: 100%;
        height: 100%;
    }

    .img-cont {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-product {
        width: 65%;
        height: 65%;
        object-fit: cover;
        border-radius: 30px;
        border: 20px inset #ddd;
    }

    .container-seccion2 {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
        height: 100%;
    }

    .letters-cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .7rem;
    }

    .letters-cont span {
        font-weight: bolder;
        font-size: 1.3rem;
        text-align: center;
    }

    .letters-cont p {
        font-size: 1rem;
        text-align: center;
    }

    .container-btn {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        width: 100%;
        gap: 2rem;
        height: 100%;
    }

    .cantidad {
        width: 20%;
        height: 2.5rem;
        display: flex;
        align-content: center;
        justify-content: center;
    }

    .btnMinus {
        border: 1px solid #242424;
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btnMinus:disabled {
        background-color: #c5c5c5;
    }

    .span-cantidad {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #212121;
    }

    .btnPlus {
        border: 1px solid #242424;
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn-comprar {
        border: 2px solid #242424;
        border-radius: 20px;
        width: 20%;
        text-align: center;
        padding: 10px 6px;
        font-size: 1.2rem;
    }
}