@media (max-width: 767px) {
    .ultimo {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.8em;

    }

    .tittle {
        width: 90%;
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        font-size: 1.5rem;
        border: 2px solid black;
    }

    .swiper-last {
        width: 90%;
        height: 100%;
        border-radius: 30px;
    }

    .sw-s-last {
        border-radius: 30px;
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-products {
        display: flex;
        width: 80%;
        flex-direction: column;
        align-items: center;
        padding: 3rem 0;
    }

    .container-products img {
        height: 50%;
        width: 50%;
        border-radius: 50%;
    }
}

@media (min-width: 768px) and (max-width:1023px) {
    .ultimo {
        height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.8em;

    }

    .tittle {
        width: 100%;
        height: 4vh;
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
    }

    .swiper-last {
        width: 40%;
        height: 50%;
    }

    .sw-s-last {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sw-s-last img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media (min-width:1024px) {

    .ultimo {
        margin-top: 3rem;
        margin-bottom: 3rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.8em;

    }

    .tittle {
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
    }

    .swiper-last {
        width: 100%;
        height: 100%;
        border-radius: 40px;
    }

    .sw-s-last {
        border-radius: 40px;
        background: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-products {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem 0;
        gap: 1rem;
    }

    .container-products img {
        width: 70%;
        height: 70%;
        border-radius: 50%;
    }

    .container-letters {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .1rem;
    }

    .container-letters h3 {
        font-weight: bolder;
        font-size: 1.3rem;
    }

    .container-letters h4 {
        font-size: 1rem;
    }

    .btn-last {
        padding: 10px 30px;
        border: 2px solid #242424;
        border-radius: 30px;
    }
}