@media (max-width: 767px) {
    .ultimo {
        margin-top: 3.5rem;
        margin-bottom: 3.5rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;

    }

    .tittle {
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
    }

    .swiper-last {
        width: 90%;
        height: 100%;
        border-radius: 30px;
    }

    .sw-s-last {
        border-radius: 50px;
        height: 100%;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-products {
        display: flex;
        width: 80%;
        flex-direction: column;
        align-items: center;
        padding: 3rem 0;
        gap: 1rem;
    }

    .container-products img {
        height: 150px;
        width: 150px;
        object-fit: cover;
        border-radius: 50%;
    }

    .container-letters {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .2rem;
    }

    .container-letters h3 {
        font-weight: bolder;
        font-size: 1.3rem;
    }

    .container-letters h4 {
        font-size: 1rem;
    }

    .btn-last {
        padding: 10px 30px;
        border: 2px solid #242424;
        border-radius: 30px;
    }
}

@media (min-width: 768px) and (max-width:1023px) {
    .ultimo {
        margin-top: 4rem;
        margin-bottom: 4rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;

    }

    .tittle {
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 1.7rem;
    }

    .swiper-last {
        width: 100%;
        height: 100%;
        border-radius: 30px;
    }

    .sw-s-last {
        border-radius: 50px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-products {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4rem 0;
        gap: 2rem;
    }

    .container-products img {
        height: 180px;
        width: 180px;
        object-fit: cover;
        border-radius: 50%;
    }

    .container-letters {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .7rem;
    }

    .container-letters h3 {
        font-weight: bolder;
        font-size: 1.5rem;
    }

    .container-letters h4 {
        font-size: 1rem;
    }

    .btn-last {
        padding: 10px 30px;
        border: 2px solid #242424;
        border-radius: 30px;
    }
}

@media (min-width:1024px) and (max-width:1919px) {

    .ultimo {
        margin-top: 4rem;
        margin-bottom: 4rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.5em;

    }

    .tittle {
        height: 20%;
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 3.5rem;
    }

    .swiper-last {
        width: 90%;
        height: 100%;
        border-radius: 40px;
    }

    .sw-s-last {
        border-radius: 50px;
        height: 100%;
        background: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-products {
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5rem 0;
        gap: 2.5rem;
    }

    .container-products img {
        height: 250px;
        width: 250px;
        object-fit: cover;
        border-radius: 50%;
    }

    .container-letters {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .container-letters h3 {
        font-weight: bolder;
        font-size: 2rem;
    }

    .container-letters h4 {
        font-size: 1.4rem;
    }

    .btn-last {
        padding: 10px 30px;
        font-size: 1.2rem;
        border: 2px solid #242424;
        border-radius: 30px;
    }
}

@media (min-width:1920px) {
    .ultimo {
        margin-top: 8rem;
        margin-bottom: 8rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.5em;

    }

    .tittle {
        height: 20%;
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 3.5rem;
    }

    .swiper-last {
        width: 90%;
        height: 100%;
        border-radius: 40px;
    }

    .sw-s-last {
        border-radius: 50px;
        height: 100%;
        background: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-products {
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5rem 0;
        gap: 2.5rem;
    }

    .container-products img {
        height: 250px;
        width: 250px;
        object-fit: cover;
        border-radius: 50%;
    }

    .container-letters {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .container-letters h3 {
        font-weight: bolder;
        font-size: 2rem;
    }

    .container-letters h4 {
        font-size: 1.4rem;
    }

    .btn-last {
        padding: 10px 30px;
        font-size: 1.2rem;
        border: 2px solid #242424;
        border-radius: 30px;
    }
}