@media (max-width: 767px) {
    .ultimo {
        margin-top: 1.5rem;
        height: 60vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.8em;

    }

    .tittle {
        width: 90%;
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        font-size: 1.5rem;
        border: 2px solid black;
    }

    .swiper-last {
        width: 100%;
        height: 100%;
    }

    .sw-s-last {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

@media (min-width: 768px) and (max-width:1023px) {
    .ultimo {
        height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.8em;

    }

    .tittle {
        width: 90%;
        height: 4vh;
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
    }

    .swiper-last {
        width: 40%;
        height: 50%;
    }

    .sw-s-last {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sw-s-last img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media (min-width:1024px) {

    .ultimo {
        margin-top: 7rem;
        margin-bottom: 7rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.8em;

    }

    .tittle {
        width: 90%;
        height: 8vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
    }

    .swiper-last {
        width: 40%;
        height: 50%;
        border-radius: 40px;
    }

    .sw-s-last {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-products {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem 0;
    }

    .container-products img {
        width: 70%;
        height: 70%;
        border-radius: 50%;
    }

    .container-products h3 {}
}