@media (max-width: 767px) {
    .swiper-banner {
        width: 100%;
        height: 15%;
    }

    .swi-sli-banner {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        object-fit: cover;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 768px) and (max-width:1023px) {

    .swiper-banner {
        width: 100%;
        height: 50%;
    }

    .swi-s-banner {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swi-s-banner img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media (min-width:1024px) {
    .swiper-banner {
        width: 100%;
        height: 20%;
    }

    .swi-s-banner {
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swi-s-banner img {
        object-fit: cover;
    }
}